<div class="container" style="padding-top: 120px">
    <h3>Equipo 4</h3>
    <p>Lorem Ipsum, Lorem Ipsum</p>
    <div class="row">
        <div class="col-4">
            <p>Alumno 1</p>
            <img class="img-fluid img-fluid" src="assets/img/images.png">
        </div>
        
        <div class="col-4">
            <p>Alumno 2</p>
            <img class="img-fluid img-fluid" src="assets/img/images.png">
        </div>
        
        <div class="col-4">
            <p>Alumno 3</p>
            <img class="img-fluid img-fluid" src="assets/img/images.png">
        </div>
        
        <div class="col-4">
            <p>Alumno 4</p>
            <img class="img-fluid img-fluid" src="assets/img/images.png">
        </div>
        
        <div class="col-4">
            <p>Alumno 5</p>
            <img class="img-fluid img-fluid" src="assets/img/images.png">
        </div>
        
    </div>
</div>